<?php
$_helper = Mage::helper('slider');
?>
<div class="content-header">
    <h3 class="icon-head head-adminhtml-slideshow"><?php echo $_helper->__('Embed') ?></h3>
</div>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_helper->__('Method 1: Using a layout update') ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
<pre>&lt;block type="slider/slider" name="<?php echo lcfirst(str_replace('_', '', uc_words($this->getIdentifier()))) ?>">
    &lt;action method="setIdentifier"&gt;&lt;value&gt;<?php echo $this->getIdentifier() ?>&lt;/value&gt;&lt;/action&gt;
&lt;/block></pre>
    </div>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_helper->__('Method 2: Inside a CMS Block or CMS Page') ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
        <pre>{{block type="slider/slider" identifier="<?php echo $this->getIdentifier() ?>"}}</pre>
    </div>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_helper->__('Method 3: Inside a template file') ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
        <pre>echo $this->getLayout()->createBlock('slider/slider')->setIdentifier('<?php echo $this->getIdentifier() ?>')->toHtml();</pre>
    </div>
</div>