/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Slider
 * @author      Magemonks <info@magemonks.nl>
 * @copyright   2012 Magemonks (http://www.magemonks.nl)
 * @license     http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */
.slider .slider-caption-title {
    font-size: 60px;
    line-height: 1;
    color: #6a6a6a;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica;
    text-transform: uppercase;
    font-weight: normal;
}
.slider .slider-caption-title a{
    color: #6a6a6a;
}
.slider .slider-caption-title a:hover{
    color: #6a6a6a;
}


.slider .slider-caption-button { font-size: 12px; font-weight: bold; color: blue; padding: 3px; }