/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Slider
 * @author      Magemonks <info@magemonks.nl>
 * @copyright   2012 Magemonks (http://www.magemonks.nl)
 * @license     http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */

.slider .slotholder *,
.slider img { -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; }
.slider img { max-width:none; }
.slider a { text-decoration:none;}
.slider ul { list-style:none; padding:0; margin:0;}
.slider >ul >li { list-stye:none; position:absolute;visibility:hidden;}
.slider >ul >li.slider-slide-islink { cursor: pointer; }
.slider .slider-caption { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	-moz-opacity: 0; -khtml-opacity: 0;	opacity: 0; position:absolute; visibility: hidden; cursor: default; }
.slider .slider-caption.slider-caption-slidelink a div {	width:10000px; height:10000px; }
.slider .slider-caption a{ text-decoration: none; display: inline-block }
.slider .slider-caption.slider-caption-islink { cursor: pointer; } /* this class is added when a caption has a link */
.noFilterClass {filter:none !important;}

/** SHADOWS */
.slider-shadow { position:absolute; margin-left:auto; margin-right:auto; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; }
.slider-shadow.slider-shadow-style-subtle { background:url(../assets/shadow-subtle.png) no-repeat; background-size:100%; width:890px; height:30px; bottom:-30px;}
.slider-shadow.slider-shadow-style-block { background:url(../assets/shadow-block.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}
.slider-shadow.slider-shadow-style-arch { background:url(../assets/shadow-arch.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}

/** BULLETS **/
.slider-bullets { z-index:100; position:absolute;  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.slider-bullets div{ cursor: pointer; position: relative; width: 16px; height: 16px; float: left;}
.slider-bullets div:first-child{ margin-left: 0}
.slider-bullets .slider-bullet-arrow{ background-position: 5px 3px; background-repeat: no-repeat;}
.slider-bullets .slider-bullet-arrow-right{ background-position: 5px -17px; }
.slider-bullets .slider-bullet .slider-bullet-index { display: block; line-height: 16px; text-align: center; font-size: 10px; font-family: Arial; width: 16px; height: 16px; font-weight: bold; }

/** ARROWS */
.slider-arrow { background-position: 12px 13px; background-repeat: no-repeat; z-index:100;cursor:pointer; position:absolute; width:46px; height:46px; }
.slider-arrow-left { left: 0; }
.slider-arrow-right { right: 0; background-position: 15px -27px;}

/** TIMER */
.slider-timer { width:100%; position:absolute; z-index:101; }
.slider-timer.slider-timer-bottom { bottom: 0px; }

/** RESPONSIVE SETTINGS */
@media only screen and (min-width: 768px) and (max-width: 959px) { }
@media only screen and (min-width: 480px) and (max-width: 767px) { }
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .responsive .slider-bullets { display:none}
    .responsive .tparrows { display:none;}
}

/** LOADER */
.slider-loader { background: #fff url(../assets/loader.gif) no-repeat;  margin:-22px 0 0 -22px; top:50%; left:50%; z-index:101; position:absolute; width:32px; height:32px; border: 6px solid #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }


