<?php
/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Slider
 * @author      Magemonks <info@magemonks.com>
 * @copyright   2012 Magemonks (http://www.magemonks.com)
 * @license     http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */
/* @var $this Magemonks_Slider_Block_Slider */
?>
<?php
    $slideShow = $this->getSlideshow();
    if($slideShow){
        $slides = $slideShow->getVisibleSlides();
    }
?>
<?php if($slideShow && count($slides)): ?>
    <div class="slider-container slider-container-<?php echo $this->getSlideshowData('css_class'); ?>">
        <div class="slider slider-<?php echo $this->getSlideshowData('css_class'); ?>">
            <ul>
            <?php foreach($slides as $index=>$slide): ?>
                <?php echo $this->getSlideOpeningTag($slide); ?>
                    <?php echo $this->getImageTag($slide); ?>

                    <?php $captions = $slide->getCaptions()?>
                    <?php foreach($captions as $index=>$caption): ?>
                        <?php echo $this->getCaptionHtml($caption) ?>
                    <?php endforeach; ?>
                <?php echo $this->getSlideClosingTag($slide); ?>
            <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>
